.git
.github
.venv
.env
.env.*
!.env.example

.pytest_cache
.mypy_cache
.pyright
.ruff_cache
.coverage
htmlcov
coverage

__pycache__
*.py[cod]

.storage
*.sqlite
*.sqlite3
*.db

tests
frontend
node_modules

dist
build
*.egg-info

.vscode
.idea
.DS_Store

README.md
needed.md
teste_api.md